* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 14px;
}

#window {
    color: #64727d;
}

window#waybar {
    background-color: rgba(26, 27, 38, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-top: 8px transparent;
    border-radius: 8px;
    transition-duration: 0.5s;
    margin: 16px 16px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#window,
#workspaces {
    margin: 0 4px;
    border-radius: 7.8px;
    background-color: #1f2530;
}

#workspaces button {
    padding: 0 5px;
    color: #7984A4;
    background-color: transparent;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 7.8px;
    border-radius: 0;
}

#workspaces button.focused {
    color: #bf616a;
    border-radius: 7.8px;
}

#workspaces button.active {
    color: #6a92d7;
    border-radius: 7.8px;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
    border-radius: 7.8px;
}

#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#language,
#tray {
    padding: 0 10px;
    color: #e5e5e5;
    border-radius: 9.5px;
    background-color: #1f2530;
}

#custom-powermenu {
    padding: 0 10px 0 10px;
    color: #7984A4;
    background-color: transparent;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 7.8px;
    border-radius: 0;
}

#clock {
    color: #c8d2e0;
}
  
#cpu {
    color: #fb958b;
    background-color: #1f2530;
}

#memory {
    color: #ebcb8b;
    background-color: #1f2530;
}

#disk {
    color: #964b00;
}

#network {
    color: #b48ead;
}

#network.disconnected {
    color: #f53c3c;
}

#language {
    color: #37d1e6;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#pulseaudio {
    color: #7d9bba;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}
